@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
   letter-spacing: 0.9px;
   scroll-behavior: smooth;
    
}


.dark-theme, .dark-theme section{
   
    background-color: rgb(40, 40, 40) !important;
    color: rgb(240, 240, 240 )!important; 
}

.dark-theme .search{
background-color: rgb(80, 80, 80);
}


ul{
    list-style: none;
    display: flex;
}

.green{
    color: rgb(37,216,101);
}

hr{
    height: 3px;
    background-color: black;
}

.border__bottom{
    border-bottom: 2px solid black;
}

.hidden{
    opacity: 0;
    transform: translateY(100px);
}

button:active{
    transform: translateY(10px);
}


section{
    background-color: rgb(245, 245, 245);
}

.contact{
    cursor: pointer;
}




/* 

HEADER

*/

header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.image__wrapper{
    font-size: 80px;
    padding: 20px 30px;
}

.nav__links{
    padding: 20px;
}

li{
    padding: 22px;
    font-size: 20px;
}

section{
    transition: all 1.5s;
    
}

.dark__mode{
    cursor: pointer;
    transition: all 300ms;
    border: none;
    font-size: 20px;
}


/* 

LANDING PAGE 

*/

.landing__page{
    min-height: 100vh;
    width: 100%;
    position: relative;
   
}
.title__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    animation: fadeInAnimation 2s;
    opacity: 1;
    transition: opacity 5s;
}

.modal--open .title__card {
opacity: 0;
transition: opacity 2s;
}

.title__header{
    font-size: 60px;
    padding: 40px 0px;
    font-weight: 700;
}

.title__header--sub{
    padding: 10px 0px;
    font-size: 44px;
}

.title__header--para{
    font-size: 20px;
}


.title__icons{
    display: flex;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 70px 48px;
    text-align: center;
}

.aficon{
    font-size: 48px;
    padding-bottom: 20px;
}


#projector{
    width: 100px;
    height: 100px;
  touch-action: none;
  transition: filter 2s;

}

 .dark-theme #projector{
   filter: invert(1);
    
}



.contact__card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 70%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all 2s;
   max-width: 1000PX;
   min-height: 700px;
  
  

}

.dark-theme .contact__card {
    color:#000000;
}

.modal--open .contact__card{
    z-index: 60;
    opacity: 1;
    box-shadow: 0 20px 80px 0px rgb(0, 0, 0, 0.55);
    transition: all 2s

}


.modal__title{
    font-size: 40px
}

.modal__sub-title{
    margin: 12px 0px 24px 0px;
    font-size: 20px;
}

#contact__form{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  
}

.form__item--label{
    font-size: 18px;
   
}

.input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 40px;
    transition: all 300ms ease;
    resize: none;
    color: #000000;
    font-size: 14px;
    margin: 12px 0px;
    caret-color: rgb(37,216,101);

   
}

.input.input_message{
    height: 150px;
    padding: 10px 0px;
    font-size: 14px;
}

.input:focus{
    border-color: rgb(37,216,101);
}

.input:active{
    border-color: white;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item{
    margin-bottom: 20px;
    width: 70%;
}
.fas.fa-times.modal__exit.click{
position: absolute;
top: 20px;
left: 20px;
font-size: 30px;
cursor: pointer;
z-index: 100;
}

.form__submit{
    background-color: rgb(37,216,101);
    border: 2px solid rgb(220, 220, 220);
    color: white;
    font-weight: 700;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover{
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    color: #000000;
}

.modal__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading{
    background-color: #ffffff;
    font-size: 80px;
    z-index: -1;

}

.modal__overlay--success{
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
  opacity: 1;

}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
   
}

.fa-spinner{
    animation: spinner 2s infinite ;
    height: 100px;

    
   
}

.filmroll{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    
}


@keyframes spinner{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-290px);
    }
}




.fa-arrows-alt-v{
font-size: 40px;
position: absolute;
bottom: 20px;
animation: scroll 1s infinite alternate-reverse;


}

@keyframes scroll{
    0%{
        transform: translateY(12px);
    }
    100%{
        transform: translateY(-12px);
    }

}


/*

MOVIES

*/

.movies{
    min-height: 100vh;
    position: relative;
}

.movies__header{
        display: flex;
    justify-content: center;
}



.movies__title{
    font-size: 50px;
    padding: 30px 0px;
    font-weight: 400;
}

#searchBar{
    justify-content: center;
    border-radius: 25px;
    width: 300px;
    height: 56px;
    text-align: center;
    color: rgb(37,216,101); 
    font-size: 20px;
    margin: 0px 40px;
    
}

#searchBar__year{
    justify-content: center;
    border-radius: 25px;
    width: 300px;
    height: 56px;
    text-align: center;
    color: rgb(37,216,101); 
    font-size: 20px;
    margin: 0px 40px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px;
    font-size: 40px;
    align-items: center;
    width: 100%;
    background-color: rgb(220, 220, 220);
    
   
    
}

.searchbutton{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    transition: transform 300ms, border 10ms;
    
    border: none;
}

.searchbutton:active{
    border: 1px solid rgb(37,216,101) 
}

#filter{
    width: 300px;
    height: 56px;
    font-size: 20px;
    margin: 0px 40px;
    border-radius: 25px;
    text-align: center;
}


.page__selector{
    text-align: center;
    margin: 30px 0px;
}

::placeholder {
    
    opacity: 1; 
  }

  .searchbutton:active, #searchBar:focus, #searchBar__year:focus{
    outline: none;

    border: 2px solid rgb(37,216,101);
}


input{
    border: none;
}


  .movie__list{
      width: 100%;
      padding: 50px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .page__selector{
      display: flex;
      justify-content: center;
}

  #prev, #forw{
      cursor: pointer;
      margin: 0px 70px;
      text-decoration: underline;
      color: rgb(99,98,203);
      border-left: 2px solid rgb(37,216,101);
      border-right: 2px solid rgb(37,216,101);
      padding: 0px 15px;
      
  }

  #prev{
    color: gray;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
  }

  #page__number{
      font-size: 24px;
      font-weight: 300;
  }

  #forw:hover > .fas.fa-arrow-right {
      animation: froward 500ms infinite alternate;
   

  }

  #prev:hover > .fas.fa-arrow-left {
    animation: backward 500ms infinite alternate;


}

  
@keyframes froward{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(10px);
    }

}

@keyframes backward{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-10px);
    }

}


  



 .movie{
     height: 600px;
    cursor: pointer;
      width: 300px;
      margin: 2% 2%;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid black;

  }
  
  .poster{
    width:100%; 
    height:420px;
    transition: all 300ms ease-in;
  }


  .poster:hover{
      transform: scale(1.03);
  }

  .movie__title{
      font-size: 22px;
      font-weight: 600;
      padding: 20px 0px;
     
      
  }

  .error__message{
      top: 300px;
      position: absolute;
      left: -225px;
      transition: all 3s;
  }

  #phrog{
      width: 300px;
      height: 210px;
      transition: all 3s;
      background: transparent;
  }

  #uh-oh{
position: absolute;
background: transparent;
opacity: 0;
transition: all 3s;
transform: translateX(320px) translateY(-50px);

  }



  /* 


  MOVIE.HTML



  */


  .movie__card{
      margin: 0px auto;
      width: 80%;
      max-width: 1700px;
      min-width: 1350px;
      --hex-parent-height: ;
      max-height: 586.5px;
      box-sizing: border-box;
     animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(00px);
     }
    }

  .movie__card--header{
      display: flex;
      width: 100%;
      max-height: 586.5px;
      
  }

  .movie__card--title{
    font-size: 48px;
  }

  .movie__card--info{
      font-size: 22px;
      display: grid;
    grid-template-columns: repeat(2, 250px [col-start]);
    grid-template-rows: repeat(3);
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 24px;
  
  }

  .movie__poster--wrapper{
      width: 20%;
        display: flex;
        flex-direction: column;
       
  }

  .movie__poster--large{
      width: 350px;
      max-height: 88%;
      max-width: 100%;
  }

  .awards{
      font-size: 24px;
      text-align: center;
      margin: 32px 0px;
      border: 4px solid rgb(176,154,81);
      padding: 20px;
      border-image: linear-gradient(45deg, rgb(176,154,81), rgb(240,224,13)) 100;
    }
  

  .genre{
      font-size: 14px;     
      border: 2px solid rgb(0, 0, 0);
      border-radius: 25px;
      padding: 8px;
      background-color: rgb(37,216,101);
      color: black;
      margin: 12px 4px;
      
  }

  .movie__genres{
      display: flex;
      justify-content: space-around;
      max-width: 350px;
 
  
  }

  .tomato{
      height: 20px;
      width: 20px;
      margin: 0px 5px;
  }

  .movie__card--text{
    padding: 30px;
    width: 40%;
  }


  .movie__card--description{
    display: grid;
  grid-template-rows: (30%, 15% ,15%, 15%, 15%);
    width: 40%;
    max-height: 568.5px;
}


.movie__card--para{
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
 overflow: scroll;
 border-bottom: 2px solid black;
 



}



  .moive__card--rating{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  
  .rates{
      text-align: center;
      display: flex;
      align-items: center;
  }

  .ratings{
      justify-content: space-around;
      display: flex;
      align-items: flex-start;
     
  }

  .movie__people{
      padding: 20px;
      font-size: 22px;  
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(00px);
     }
    }
  

    /*

    Dark__Mode


    */


